body{
    background-color: #F2F2F2;;
    font-family:'Happy Monkey';
    margin: 0;

}
.home-head{
    background:white;
    color: black;
    padding: 10px;
    .header{
        display: flex;
        justify-content: space-between;
        
    }
    .logo{
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        span{
            color: rgb(143, 113, 56);
        }
    }
    nav{
        color: aqua;
        display: none;
        text-decoration: none;
    }
    .mobile-menu{
        cursor:pointer;
    }
   


}
nav.menu-btn{
    display: block;
}
nav{
    position: fixed;
    z-index:999;
    width:66%;
    right:0;
    top:0;
    background: #20272E;
    height: 100vh;
    padding: 1em;
    ul.right-header{
        margin-top:5em;
    }
    li{
        a{
           color: white;
           text-decoration: none;
           display: block;
           padding: .5em;
           font-size: 1.3em;
           text-align:center;
           

           &:hover{
            border: 3px solid  white;
            font-weight:bold;
            text-decoration: underline;
           }

        }
    }
}
.mobile-menu-exit{
    float:right;
    margin:.5em;
    cursor:pointer
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
.middle{
    text-align:center;

}
.h1{
    font-size: 40px;
}
.passport{
    width: 600px;
    height:650px;
    border:5px solid rgb(143, 113, 56);
    border-radius:15px ;
}
label{
    display: block;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: .5em;
}
input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing:border-box
}
input[type="submit"]{
    background-color: rgb(143, 113, 56);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer; 
}
.contact-right{
    background: rgb(143, 113, 56);
    ul{
        
        display: flex;
        justify-content: space-around;
    };
    
    li{
        align-items: start;
        display: grid;
        
        text-align:center;
        justify-content: space-between;
    }
    img{
    margin:0;
    height: 50px;
    width: 50px;
    border: #F2F2F2 solid 3px;
    border-radius: 30%;
    display:flex;
    text-align: start;
    padding: 0;
    margin: 20px 70px 20px 70px;
    }

}
a{
    color: black;
    text-decoration: none;
}
@media only screen and (min-width: 768px){
    .mobile-menu, .mobile-menu-exit{
        display:none;
    }
    .home-head .header{
        display:grid;
        grid-template-columns: 180px auto;
        justify-content: unset;
        
    }
    .home-head nav{
        color:black;
        display: flex ;
        justify-content: space-between;
        background: none;
        position: unset;
        height:auto;
        width:100%;
        padding: 0;
        .right-header{
            justify-content:space-between;
            text-align: center;
            
        }
        ul{
            margin: 0;
            display: flex;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 1em;
            padding:.1em 1em;
            border-radius: 20px;
            font-weight: bold;
            &:hover{
                background:rgb(143, 113, 56);
                color:white;
                
            }
        }
        li.current a{
            font-weight: bold;
        }
        
    }

}